<!DOCTYPE html>
<html lang="en">

<head>
    <title>Assign</title>
    <link rel="icon" href="favicon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <style>
        #content{
            margin: 0 auto;
            width: 90%;
            padding-top: 15px;
        }
        table{
            /* table-layout: fixed; */
            width: 100%;
        }

        .right{
            float:right;
        }
    </style>
</head>

<body>
    <%- include('nav.ejs') %>
    <div id="content">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Person Name</th>
                    <th>Date Assigned</th>
                </tr>
            </thead>
            <tbody>
                <% for(const person of data)  { %>
                    <tr>
                        <td><%=person.person_name %></td>
                        <td><%=person.date_assigned %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <form action="/assign" method="POST">
            <div class="row">
                <div class="col-auto">
                    <label for="personList">Person:</label>
                    <input class="form-control" list="datalistOptions" id="personList" name="personList" autocomplete="off" placeholder="Type to search...">
                    <datalist id="datalistOptions" >
                        <% for(const people of dataList) { %>
                        <option value="<%=people.person_name%>">
                        <% } %>
                    </datalist>
                </div>
            </div>
            <input type="submit" value="Assign Person">
            <input type="hidden" id="id" name="id" value=<%=id %>>
        </form>
    </div>
</body>
</html>